<div class="row content">
  <div class="col s12 shadowspan">
   <h3 class="italics">Author : jemimah Chepyego </h3>
   <P>She is the Kenyan author born and raised in a town called Kitale </p>
   <p>Her passion for writting started while she was in  primart school</p>
  </div> 
</div>
