
<div class="container ">

   <div class="row">
       <div class="col s12">
            <h3>Hello world!</h3>
            <p id="p1">Poetry make the world round, to be a poet is a lifestly</p>
       </div>
       <button id="button1">Button</button>

    <div>
       <p><%= t ('welcome')%></p>
       <p><%=  t ('services_html') %></p>

</div>

