// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.last{
    margin-top: 80px;
    text-align: center;
}
img{
    margin: auto;
}
 articles a{
    margin-top: 20px;
}
.button3{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}