// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.last{
    margin-top: 80px;
    text-align: center;
}
 .image-one{

    width: 500;
    height: 600;
    display: block;
     margin-left: auto;
    margin-right: auto;
    
}
 articles a{
    margin-top: 20px;
}
.button3{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.form-one{
  border: 2px solid black;
  margin-top:20px;
  padding: 10px;
  border-radius:20px;
}
.poem{
    text-align: justify;
    display: inline-block;
    //   margin-right: auto;
    //   margin-left: auto;
    //   margin-left: 2em;

}
