<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">What to learn more about us? You can follow us on our social media platform </h5>
              </div>
              <div class="row">
                <div class="col l3 offset-l2 s12">
                <h5 class="white-text"> Social media Links</h5>
                <ul>
                  <li><a href="https://www.facebook.com/jemimah.yego/!"><i class="material-icons align-center" >facebook</i>fb</a>
                  <li><a href="https://twitter.com/JemmyAwesome"><i class="material-icons social">twitter</i>twitter</a>
                  <li><a href="https://www.instagram.com/jchepyego/"><i class="material-icons social">instagram</i>instagram</a>

                  <%# <li><a class="grey-text text-lighten-3" href="#!">linkedin</a></li> %>
                </ul>
              </div>
              </div>
              
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2022 Copyright by Jemimah Chepyego


              <li class="grey-text text-lighten-4 right"><%= link_to 'Contact us', new_contact_path %></li>

            <%# <a class="grey-text text-lighten-4 right" href="">">Contact us</a> %>
            </div>
          </div>
        </footer>

     